body{
  background-color: black;
}

.sticky{
    top: 0;
    position: fixed;
    background-color: black;
    width:100%;
}

#main{
  margin-top:20px;
}

h1{
  font-size: 70px;
  font-weight: 500;
  margin:10px 100px;
}

h2{
  margin-top:50px !important;
}

.scrolling-wrapper {
  display: flex;
flex-wrap: nowrap;
overflow-x: auto;
margin:10px;
}


.card {
  flex: 0 0 auto;
  padding:10px;
}


.slider{
  margin-right:20px;
  flex-direction: row;
  justify-content: space-between;
  display: inline-block;;
}

.mobile-view-body{
  padding-left:10px;
}





@media screen and (max-width:768px)
{
  h1{
    margin:10px 50px;
    font-size: 50px;
  }
  .card{
      width:200px;
      height:330px;
      margin-bottom: 10px;
  }

  .mobile-view-body{
     padding-left:15px;
  }
}