body{
    background-color: black;
}
@media screen and (max-width:768px)
{
    #demo{
        padding:0 !important;
        margin:0 !important;
        padding-left:7px !important;
    }

  h1{
    margin:10px 50px;
    font-size: 50px;
  }
  .card{
      width:170px;
      height:355px;
      margin-bottom: 10px;
  }

  .mobile-view-body{
     padding-left:15px;
  }
}